[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==1.15"
shapely = "*"
open3d = "==0.8.0.0"
h5py = "*"
matplotlib = "*"
numpy = "*"
pyproj = "*"
pyshp = "*"
pyclustering = "*"
tqdm = "*"
opencv-python = "*"
pillow = "*"
pyrealsense2 = "*"
pyserial = "*"
gpxpy = "*"
termcolor = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
